@font-face {
    font-family: 'Digital';
    src: url('./fonts/DS-DIGII.TTF');
}

@font-face {
    font-family: 'Pink Pearl Eraser';
    src: url('./fonts/Leytonstone-Regular.ttf');
}

@font-face {
    font-family: 'KidDOS';
    src: url('./fonts/KIdDOS-Regular.ttf');
}

body {
    background-image: url('https://images.unsplash.com/photo-1597113366853-fea190b6cd82?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
    margin: 3% 0;
}

header {
    font-family: 'KidDOS';
    font-size: 20px;
    padding: 10px;
    background-color: khaki;
    margin: 5px;
}

.calculator {
    display: inline-flex;
    flex-direction: column;
    background-color: cadetblue;
    border-left: 3px solid slategray;
    border-top: 3px solid lightblue;
    border-right: 3px solid lightgray;
    border-bottom: 3px solid darkslategray;
    margin: 1% 25%;
    padding: 10px;
    border-radius: 10px;
}

.calculator button {
    font-size: 40px;
    width: 38.25px;
}

#numInput {
    background-color: lightgray;
    width: 107.75px;
    height: 46px;
}

#numInput {
    font-family: 'Digital';
    font-size: 40px;
}

.historySection {
    margin: 1%;
}

#clearHistory {
    background-color: lightpink;
    font-family: 'Pink Pearl Eraser';
    font-size: 40px;
    padding: 10px 10px 25px 0px;
    border-left: 25px solid rgb(207, 138, 149);
    border-bottom: 5px solid rgb(129, 80, 88);
    border-right: 0;
    border-top: 0;
    border-radius: 10px;
}


.historyList {
    font-family: 'KidDOS';
    background-color: khaki;
}

.historyList li {
    padding: 0 20px;
    border-top: 1px solid lightblue;
    border-left: 1px solid lightcoral;
    border-bottom: 1px solid lightblue;
}